body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 15px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}



:root {
    --small-planet-color: rgb(0, 252, 101);
    --medium-planet-color: rgb(0, 247, 255);
    --large-planet-color: rgb(255, 0, 208);
}


.grd {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 350px;
    gap: 50px;
}

.grd .planet{
    margin: 0;
    padding: 0;
    background: rgb(23, 0, 61);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;    
    line-height: 0.1;
}


.circle {
    border-radius: 50%;
    margin: 0 auto 0 auto;
    border-radius: 50%;
}

.circle.large {
    height: 175px;
    width: 175px;
    background-color: var(--large-planet-color);
  }

  .circle.med {
    height: 125px;
    width: 125px;
    background-color: var(--medium-planet-color);
  }

  .circle.small {
    height: 50px;
    width: 50px;
    background-color: var(--small-planet-color);
  }